DATABASE_URL="postgresql://lms:lms@localhost:5436/enrollment_db?schema=public"
JWT_SECRET="dev_secret_change_me"
COURSE_SERVICE_URL="http://localhost:3002"
STAFF_SERVICE_URL="http://localhost:3004"
PORT=3003
